* {
  margin: 0;
}

@font-face {
  font-family: "norse";
  src: url("fonts/norse-bold_1-webfont.woff2") format("woff2"),
    url("fonts/norse-bold_1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
}
/* Left Side of website */
.left {
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  width: 40%;
  height: 100vh;
  align-items: center;
}
/* Text next to logo */
.odin {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font: 3.5rem "norse";
  margin-top: 30%;
  align-items: center;
  justify-content: center;
}
/* Logo */
.odin_img {
  height: 100px;
}

/* Rigth side */

.right {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font: 1rem sans-serif;
}

h2 {
  margin-left: 10px;
}

form {
  margin: 10px 25px;
}

.title {
  margin: 25px 35px;
}

.inputs {
  display: grid;
  grid-template-columns: 200px 200px;
}

.ind-input {
  margin: 10px;
}

button {
  margin-left: 10px;
}
